footer
  .footer__left 
    p CaTure
    i CaTure for your cat. Made by cat lovers.
    .footer__left-description
      p 2732 Moron Avenue 
      p Tuesday - Saturday from 9am - 5pm
      p Purrniture@gmail.com
      p (472) 220980 
    +socialMedia
  .footer__right
    each menu in menus
      p: a= menu