extend _plantilla.pug
block content
  main.faqs.cover
    .faqs__Cover.cover
      h1 Cat FAQs (Frequently Asked Questions)
    .faqs__Content.cover
      h4 How long does it take to get an order?
      p Please allow 2 - 4 weeks for completion time. All of our products are handmade in our shop, and designed with your cat’s needs in mind.
      h4 Do you deliver?
      p Yes, we deliver. Shipping is available domestically, and if you’re local we offer white glove delivery for a nominal fee.
      h4 What payment methods do you accept? 
      p VISA, Mastercard, Discover, and American Express.
      h4 Do you repair or recover Purrniture pieces?
      p Yes, we do routine upholstering of Purrniture. We also repair all types of cat furniture. Send us a picture and we can give you an estimate.
      h4 Do you accept trade-ins?
      p Yes, contact us for more details on our trade-in program.
      h4 Do you offer a guarantee? 
      p We offer an exclusive four week Catisfaction Guarantee.  If four weeks pass and your cat has not expressed interest in your purchase, simply return it for a full refund. We very seldom get a piece returned! 




    

    