extend _plantilla.pug
block content
  main.shop.cover
    .shop__intro
      h2 CaTure
      p Our team has spent hundreds of hours researching the best materials, designs, toys and more for your cat, so you don’t have to.
    .shop__products
      +productShop('images/markSteps/cover.jpg', products[0],'$30.00')
      +productShop('images/fatCatCubby/cover.jpg', products[1],'$25.00')
      +productShop('images/purrfectPerch/cover.jpg', products[2],'$42.00')
      +productShop('images/markSteps/cover.jpg', products[0],'$30.00')
      +productShop('images/fatCatCubby/cover.jpg', products[1],'$25.00')
      +productShop('images/purrfectPerch/cover.jpg', products[2],'$42.00')
      +productShop('images/markSteps/cover.jpg', products[0],'$30.00')
      +productShop('images/fatCatCubby/cover.jpg', products[1],'$25.00')
      +productShop('images/purrfectPerch/cover.jpg', products[2],'$42.00')    